<div class="profile-container">
  <mat-form-field class="full-width">
    <mat-label translate>Profile.ProfileType</mat-label>
    <mat-select [formControl]="profileType">
      <mat-option value="ADD"><span translate>Profile.Add</span></mat-option>
      <mat-option value="UPDATE"><span translate>Profile.Update</span></mat-option>
    </mat-select>
  </mat-form-field>
  
  <h3 translate>Profile.FieldMapping</h3>
  
  <mat-table #table [dataSource]="fields.controls">
    <!-- Header Column -->
    <ng-container matColumnDef="header">
      <mat-header-cell *matHeaderCellDef translate>Profile.Header</mat-header-cell>
      <mat-cell *matCellDef="let field" [formGroup]="field" class="border-right">
        <mat-form-field appearance="fill">
          <input type="text" matInput formControlName="header" [placeholder]="'Profile.Header' | translate"/>
        </mat-form-field>
      </mat-cell>
    </ng-container>  
  
    <!-- Default Column -->
    <ng-container matColumnDef="default">
      <mat-header-cell *matHeaderCellDef translate>Profile.Default</mat-header-cell>
      <mat-cell *matCellDef="let field" [formGroup]="field">
        <mat-form-field appearance="fill">
          <input type="text" matInput formControlName="default" [placeholder]="'Profile.Default' | translate"/>
        </mat-form-field>
      </mat-cell>
    </ng-container>
  
    <!-- FieldName Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef translate>Profile.FieldName</mat-header-cell>
      <mat-cell *matCellDef="let field" [formGroup]="field">
        <mat-form-field floatLabel="never" appearance="fill">
          <mat-select formControlName="fieldName" placeholder="Field Name" panelClass="profile-fieldname-select">
            <mat-optgroup *ngFor="let group of fieldGroups" [label]="group.name | translate">
              <mat-option *ngFor="let f of group.fields" [value]="f.key">
                {{ f.label | translate }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <mat-label><strong> {{ esploroFieldsInstance.getFieldGroupNameByFieldKey(field.value.fieldName) | translate }} </strong></mat-label>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language" *ngIf="isMultilingualEnabled">
      <mat-header-cell *matHeaderCellDef translate>Profile.Language</mat-header-cell>
      <mat-cell *matCellDef="let field" [formGroup]="field">
        <mat-form-field appearance="fill" *ngIf="isFieldMultilingual(field.value.fieldName)">
          <mat-select formControlName="language" [placeholder]="'Profile.Language' | translate">
            <mat-option *ngFor="let lang of (languages$ | async)?.row" [value]="lang.code">
              {{ lang.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell  *matCellDef="let field;  let j = index;">
        <button type="button" (click)="removeField(j)" mat-icon-button aria-label="Delete field">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>
  <button type="button" (click)="addField()" mat-icon-button aria-label="Add field">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button type="button" (click)="addMandatoryFields()" mat-icon-button aria-label="Add mandatory fields">
    <mat-icon>playlist_add_circle</mat-icon>
  </button>
  
  <div *ngIf="fields.invalid " class="alert alert-danger">
    <ul>
      <li *ngFor="let error of fields.errors">
        <span [translate]="error.code" [translateParams]="error.params"></span>
      </li>
    </ul>
  </div>  
</div>